@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Radio Canada", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.inputRange {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  background: #8D8D8D;
  cursor: pointer;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 8px;
  border-radius: 0px 999px 999px 0px;
  background: #d9d9d9;
  box-shadow: none;
}

.inputRange::-moz-range-thumb {
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background: #d9d9d9;
  box-shadow: none;
}
